<ion-header>
    <ion-navbar>
        <ion-title>
            World Groups
        </ion-title>
        <ion-buttons start>
            <button ion-button icon-only (click)="creatGroup()">+</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>


    <!-- <ion-searchbar *ngIf="!localDb.noWorldGroups" (ionInput)="searchGroups($event)" (focusout)=focusoutEvent() (keyup)=onKeyEvent($event)></ion-searchbar> -->
    <ion-searchbar *ngIf="!localDb.noWorldGroups" [(ngModel)]="searchQuery" (ionInput)="searchGroups($event)" (ionClear)='onClear($event)' (focusout)=focusoutEvent($event) (keyup)=onKeyEvent($event)></ion-searchbar>

    <div *ngIf="localDb.noWorldGroups" class="no-group" (click)="creatGroup()">
        <img src="assets/group-icon.png" />
        <p> No world groups yet!!</p>
        <p> Start creating groups!!</p>
    </div>
    <ion-list>
        <ion-item *ngFor="let group of  localDb.worldGroups" (click)="groupDetail(group)">
            <ion-avatar item-start>
                <img *ngIf="showOfflineImage" [src]="group.offline_group_image">
                <img *ngIf="!showOfflineImage" [src]="showImage(group.group_image)">
            </ion-avatar>
            <ion-row>
                <ion-col width-50>
                    <h2>{{group.group_name}}</h2>
                </ion-col>
                <!-- <ion-col width-50>
                    <h2 style="color: #666; font-size:12px;margin-top:5px;">Members(4)</h2>
                </ion-col> -->
            </ion-row>
            <p>
                <ion-icon ios="ios-people" md="md-people"> Total Members: {{group.member_count}}</ion-icon>
            </p>
            <p>
                <ion-icon ios="ios-calendar" md="md-calendar"> Created At: {{group.date_added | date : "dd/MM/y"}}</ion-icon>
            </p>

            <p item-end *ngIf="group.type==0">Public</p>
            <p item-end *ngIf="group.type==1">Private</p>
        </ion-item>
    </ion-list>

</ion-content>