page-map-modal {
    #map {
        height: 100%;
    }
    .bar-button-default-md,
    .bar-button-clear-md-default,
    .bar-button-md-default {
        color: white;
        background-color: transparent;
    }
    .bar-button-default-ios,
    .bar-button-clear-ios-default,
    .bar-button-ios-default {
        color: white;
        background-color: transparent;
    }
}